

<div>
industries
</div>

<%= link_to "csv upload", new_record_path %>

<div class="index-body">
 <div class="industry-list">
    <ul>
        <li>Life and Health Insurance</li>
        <li>Non-life Insurance</li>
        <li>Financial Services</li>
        <li>Logistics</li>
        <li>Pharmaceuticals</li>
        <li>Retail</li>
    </ul>
  </div>



  <div class="company-list">
   <ul>
    <% @companies.each do |company_name, id| %>
    <li><%= link_to company_name, record_path(id) %></li>
    <% end %>
   </ul>
  </div>


</div>