

<div>
industries
</div>

<%= link_to "csv upload", new_record_path %>

<div class="index-body">
 <div class="industry-list">
    <ul>
        <li>Life and Health Insurance</li>
        <li>Non-life Insurance</li>
        <li>Financial Services</li>
        <li>Logistics</li>
        <li>Pharmaceuticals</li>
        <li>Retail</li>
    </ul>
  </div>



  <div class="company-list">
  <div class="company-list-upper">
  <%= link_to "name 🔼", records_path(order_by: 'company_name') ,class: "no-underline" %>
<%= link_to "upload date 🔽", records_path(order_by: 'created_at') ,class: "no-underline" %>
   </div>
   <div>
   <ul>
    <% @companies.each do |company_name, id| %>
    <li><%= link_to company_name, record_path(id) %></li>
    <% end %>
   </ul>
   </div>
  </div>

  <div class="new_comments">
  <h3>Recent Comments</h3>
  </div>

</div>