
header.header {
  padding: 7px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #f0af8c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 50px;
}
.grid-6{
  font-weight: bold;
}


header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}

/* ヘッダーの記述ここまで */

body {
  margin-top: 50px;
  margin-left: 20px;
  background-color: #F3f3f3;
}


h1,
h2,
h3,
h4,
h5,
h6,
body {
  line-height: 1.57;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #666;
  font-family: 'Poppins', sans-serif;
}

/* index */
.index-body{
  display: flex;
  justify-content: space-around;
}

.industry-list, .company-list {
  background-color: #FFFFFF;
  height: 460px;
  width: 400px;
}


/* 詳細画面 */
.business-partner-index{
  display: flex;
  float: left;
}

.small-date {
  font-size: 10px;
}

/* business partner詳細画面 */
.bp-detail-body{
  margin: 40px;
  display: flex;
}
.bp-detail-left{
  width: 25%;
}
.bp-detail-left h1{
  font-size: 44px;
  font-weight: 700;
}
.bp-detail-left p{
  font-size: 25px;
}
.bp-detail-left li {
  position: relative;
}
.details {
  display: none; /* デフォルトでは非表示 */
  position: absolute; /* 要素を絶対位置に設定 */
  top: 0; 
  width:900px;
  left: 100%; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 10px;
  z-index: 10; 
}
.bp-detail-left p{
  font-size: 12px;
}
.bp-detail-right{
  margin-top: 5px;
  margin-left: 10px;
  width: 75%;
}
.description-content{
  background-color: #FFFFFF;
  padding: 10px;
}
/* コメント */
.comment-box{
  width: 100%;
  margin-top: 25px;
  background-color: #FFFFFF;
  height: 130px;
}
.comment-write{
  width: 100%;
}
.more-description{
  margin: 40px;
  background-color: #FFFFFF;
  padding: 10px;
}

