
header.header {
  padding: 3px;
  background-color:#F3f3f3;;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 35px;
}
.grid-6 a{
  font-weight:900;
  text-decoration: none;
  margin-left: 15px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 22px;
  line-height: 30px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}

.btn-icon img {
  width: 19px; 
  height: 19px; 
  color: gray;
}
.btn-icon {
  margin-right:13px ;
}

/* ヘッダーの記述ここまで */

body {
  margin-top: 50px;
  margin-left: 20px;
  background-color: #F3f3f3;
}


h1,
h2,
h3,
h4,
h5,
body {
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: #555;
  font-family: 'Poppins', sans-serif;
}
h6{
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.alert{
  color: orangered;
}
.notice{
  color: green;
}